<div class="pad30">
  <form [formGroup]="billCriteriaForm">
    <div fxLayout="row" class="pad10">
      <mat-form-field>
        <input matInput placeholder="bill code" formControlName="billCode" />
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <!-- <div fxLayout="column" class="pad10">
        <mat-form-field>
          <input matInput placeholder="item name" formControlName="name" />
        </mat-form-field>
      </div>

      <div fxLayout="column" class="pad10">
        <mat-form-field>
          <input matInput placeholder="item qty" formControlName="qty" />
        </mat-form-field>
      </div>

      <div fxLayout="column" class="pad10">
        <mat-form-field>
          <input matInput placeholder="item price" formControlName="price" />
        </mat-form-field>
      </div> -->
      <div fxLayout="row" style="padding-inline: 10px">
        <button mat-button color="warn" (click)="toSearch()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-button color="warn" (click)="toClear()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>
