<!-- <mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span>ยืนยันการยกเลิกข้อมูล</span>

    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
  <form [formGroup]="inactiveReason">
    <div>
      <mat-form-field>
        <input matInput formControlName="reson" required />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="padding:10px;padding-left:40px">
  <button mat-button color="primary" (click)="onNoClick()">close Dialog</button>
</mat-dialog-actions> -->

<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span>ยืนยันการยกเลิกข้อมูล</span>

    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
  <div>
    <mat-form-field style="width: 100%;">
      <textarea
        matInput
        [formControl]="inactiveReason"
        placeholder="เหตุผลการยกเลิก"
      ></textarea>
      <mat-error>กรุณาระบุ</mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-button color="primary" cdkFocusInitial (click)="onOk()">
    ตกลง
  </button>
  <button mat-button (click)="onCancel()">ยกเลิก</button>
</mat-dialog-actions>
