<div style="padding: 23px">
  <ngx-datatable
    style="width: 700px; height: 300px;"
    class="material"
    [rows]="itemList"
    [columnMode]="'force'"
    [headerHeight]="40"
    [rowHeight]="50"
    [footerHeight]="0"
    [scrollbarV]="true"
    [messages]="{ emptyMessage: 'คุณยังไม่ได้ทำการเพิ่มไอเท็มลงในรายการ' }"
  >
    <ngx-datatable-column name="#">
      <ng-template let-index="rowIndex" ngx-datatable-cell-template>
        {{ index + 1 }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ชื่อรายการ">
      <ng-template let-item="row" ngx-datatable-cell-template>
        {{ item.name }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="จำนวน">
      <ng-template let-item="row" ngx-datatable-cell-template>
        {{ item.qty }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ราคา">
      <ng-template let-item="row" ngx-datatable-cell-template>
        {{ item.price }}
      </ng-template>
    </ngx-datatable-column>
    <!-- Actions -->
    <ngx-datatable-column name=""  *ngIf="setMode">
      <ng-template let-item="row" ngx-datatable-cell-template >
        <button mat-icon-button color="primary" (click)="update.emit(item)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete.emit(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
