<div class="pad30">
  <form [formGroup]="billForm" fxLayout="row" class="pad10">
    <div fxLayout="column">
      <mat-form-field>
        <input
          matInput
          placeholder="bill Code"
          formControlName="billCode"
          required
        />

        <mat-error *ngIf="billCode.invalid">{{ checkBillCode() }}</mat-error>
      </mat-form-field>
    </div>
    <div style="padding-top: 20px;padding-left: 400px">
      <button *ngIf="setUpdate" mat-button color="warn" (click)="openDialog()">
        ยกเลิกรายการนี้
      </button>
      <div *ngIf="setView && checkActive()" fxLayout="column">
        <mat-form-field>
          <input
            matInput
            placeholder="เหตุผลที่ยกเลิก"
            formControlName="inactiveReason"
            readonly
          />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<app-item-form
  [canEdit]="canEdit"
  [formValue]="formValue"
  (addItem)="reciveItem($event)"
  (update)="reciveItemUpdate($event)"
></app-item-form>

<app-item-table
  [canEdit]="canEdit"
  [itemList]="itemListValue"
  (update)="reciveItemformTable($event)"
  (delete)="reciveItemformTableDelete($event)"
></app-item-table>

<div style="padding-left:635px;" *ngIf="setCreate">
  <br />
  <button mat-button color="primary" (click)="toSaveBill()">Save</button>
</div>
