<div style="padding: 23px">
  <ngx-datatable
    style="width: 900px; height: 400px;"
    class="material"
    [rows]="resultSearch"
    [columnMode]="'force'"
    [headerHeight]="40"
    [rowHeight]="50"
    [footerHeight]="0"
    [scrollbarV]="true"

  >
    <ngx-datatable-column name="#">
      <ng-template let-index="rowIndex" ngx-datatable-cell-template>
        {{ index + 1 }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ชื่อรายการ">
      <ng-template let-item="row" ngx-datatable-cell-template>
        {{ item.billCode }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="สถานะ">
      <ng-template let-items="row" ngx-datatable-cell-template>
        {{ statueBill(items.active) }}
      </ng-template>
    </ngx-datatable-column>
    <!-- Actions -->
    <ngx-datatable-column name="actions">
      <ng-template let-item="row" ngx-datatable-cell-template>
        <button mat-icon-button color="primary" (click)="view.emit(item)">
          <mat-icon>search</mat-icon>
        </button>
        <button
          *ngIf="setActiveNotUpdate"
          mat-icon-button
          color="warn"
          (click)="update.emit(item)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
