<div class="pad30" *ngIf="canEdit">
  <form [formGroup]="item" fxLayout="row" *ngIf="setMode">
    <div fxLayout="column" class="pad10">
      <mat-form-field>
        <input
          matInput
          placeholder="item name"
          formControlName="name"
          required
        />
        <mat-error *ngIf="name.invalid">{{ checkNameValidate() }}</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="column" class="pad10">
      <mat-form-field>
        <input matInput placeholder="item qty" formControlName="qty" required />
        <mat-error *ngIf="qty.invalid">{{ checkQtyValidate() }}</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="column" class="pad10">
      <mat-form-field>
        <input
          matInput
          placeholder="item price"
          formControlName="price"
          required
        />
        <mat-error *ngIf="price.invalid">{{ checkPriceValidate() }}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" style="padding-inline: 10px">
      <button mat-button color="warn" (click)="toAddItem()">add item</button>
    </div>
  </form>
</div>
